# Virtual environment files.
bin/
lib/
lib64/
share/
pyvenv.cfg

# IDE files.
.vscode

**/__pycache__
**/.ipynb_checkpoints
**/*.egg-info


### colab link 
# https://colab.research.google.com/drive/1rU20zJ281sZuMD1DHbsODFr1DbASL0RH